.aboutSection {
  padding: 56px;
  background-color: #f7f2ee;
}

#cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin: 0 auto;
  width: 630px;
  height: 384px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#cardContainer h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #0d0e0b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

html[dir="rtl"] #cardContainer h2 {
  width: auto;
  height: 84px;
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 84px;
  text-align: right;
  color: #0b0515;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#cardContainer p {
  height: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #0d0e0b;
  flex: none;
  order: 1;
  flex-grow: 0;
}

html[dir="rtl"] #cardContainer p {
  width: 558px;
  height: 136px;
  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: right;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#cardContainer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  width: 174px;
  height: 48px;
  background: #3d4435;
  border-radius: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

#imgContainer {
  height: 546px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: stretch;
  padding-top: 30px;
}

#imgContainer #firstImg {
  width: 198px;
  height: 390px;

  background: linear-gradient(
      0deg,
      rgba(61, 68, 53, 0.1),
      rgba(61, 68, 53, 0.1)
    ),
    url("./assets/2.png");
  border-radius: 76.0532px 0px;
  background-position: center;
  background-size: cover;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#imgContainer #secondImg {
  width: 197px;
  height: 546px;

  background: linear-gradient(
      0deg,
      rgba(61, 68, 53, 0.1),
      rgba(61, 68, 53, 0.1)
    ),
    url("./assets/1.jpg");
  border-radius: 75.6692px 0px;
  background-position: center;
  background-size: cover;
  flex: none;
  order: 1;
  flex-grow: 6;
}

#imgContainer #thirdImg {
  width: 197px;
  height: 388px;

  background: linear-gradient(
      0deg,
      rgba(61, 68, 53, 0.1),
      rgba(61, 68, 53, 0.1)
    ),
    url("./assets/5.png");
  border-radius: 0px 75.6692px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex: none;
  order: 2;
  flex-grow: 0;
}

#imgContainer img:last-child {
  border-radius: 0 76px 76px 0;
}

html[dir="rtl"] #imgContainer {
  flex-direction: row;
}
html[dir="rtl"] #imgContainer img {
  border-radius: 0 76px 76px 0;
}
html[dir="rtl"] #imgContainer img:last-child {
  border-radius: 76px 0 0 76px;
}

@media (max-width: 1400px) {
  #cardContainer {
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cardContainer p,
  #cardContainer h2 {
    text-align: center;
  }

  #imgContainer {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  #imgContainer {
    width: 80vw;
    height: 80v;
    border-radius: 16px !important;
  }
}

@media (max-width: 991.98px) {
  #cardContainer {
    width: 100% !important;
    height: auto;
    padding: 0 10px;
  }
  #cardContainer h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  #cardContainer p {
    font-size: 1.2rem;
    height: auto;
    line-height: 1.5rem;
  }
  html[dir="rtl"] #cardContainer p {
    width: auto;
  }
  #imgContainer {
    height: auto;
    gap: 8px;
  }
  #imgContainer #firstImg,
  #imgContainer #secondImg,
  #imgContainer #thirdImg {
    width: 90px;
    height: 120px;
    min-width: 0;
    max-width: 100%;
    border-radius: 24px !important;
  }
}

@media (max-width: 575.98px) {
  #cardContainer {
    padding: 0 2px;
  }
  #imgContainer {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  #imgContainer {
    width: 80vw;
    height: 80v;
    border-radius: 16px !important;
  }
}
