.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* height: 772px; */
  /* width: 100%; */
  min-height: 90vh;
  background-image: linear-gradient(
      rgba(61, 68, 53, 0.6),
      rgba(61, 68, 53, 0.6)
    ),
    url("./assets/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  position: relative;
}

.heroCard{
  padding: 0 1rem;
  max-width: 900px;
  width: 100%;
}

.heroCard h2 {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-family: "Poppins";

  color: #f7f2ee;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

html[dir="rtl"] .heroCard h2 {
  max-width: 890px;
  height: auto;
  margin: 0 auto;

  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: #f7f2ee;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.heroCard a {
  background-color: #e7d9cb;
  padding: 12px 32px;
  border-radius: 16px;
  font-weight: 500;
}

html[dir="rtl"] .heroCarda {
  font-family: "inter";
}

@media (max-width: 1200px) {
  .heroCard h2 {
    width: auto;
  }

  /* html[dir="rtl"] .heroCard h2 {
    width: 500px;
  } */
}
@media (max-width: 991.98px){
  .heroSection{
    min-height: 70vh;
  }
}

@media (max-width: 576px){
  .heroCard h2{
    font-size: 32px;
    line-height: 40px;
  }
  html[dir="rtl"] .heroCard h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
