@media (max-width: 991.98px) {
  .navbar-overlay .nav-link {
    color: #fff !important;
  }
}
#subNav {
  background-color: #f7f2ee;
}
#bookBtn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  width: 195px;
  height: 48px;

  background: #3d4435;
  border-radius: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
  white-space: nowrap;
  font-family: "inter";
  color: white;
}

.navOverlay {
  position: absolute;

  top: 100%;
  left: 0;
  width: auto;
  max-width: 320px;
  margin: 0 auto;

  background: #3d4435;
  z-index: 1050;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 16px 16px;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .navOverlay {
    position: static;
    background: none !important;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    width: auto;
    left: auto;
    right: auto;
    max-width: none;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  #bookBtn2 {
    display: none;
  }
}
