.whyChooseUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 80px;
  gap: 8px;
  background: #f7f2ee;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.elements {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sectionTitle h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #0d0e0b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

html[dir="rtl"] .sectionTitle h2 {
  width: auto;
  height: 84px;

  font-family: "IBM Plex Sans Arabic";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 84px;
  text-align: right;
  color: #0d0e0b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#infoCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
#infoCards #cards{
  width: 23%;
}
@media (max-width: 1200px) {
  .sectionTitle h2 {
    text-align: center;
  }

  html[dir="rtl"] .sectionTitle h2 {
    text-align: center;
  }

  #infoCards {
    align-items: center;
    justify-content: center;
  }
  #infoCards #cards{
    width: 40%;
  }
}

@media (max-width: 992px) {
  #infoCards #cards{
    width: 85%;
  }
}